* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    text-align: center;
    @media screen and (max-width: 640px) {
        font-size: 24px;
    }

}

body {
    margin: 0 auto;
    width: 1366px;
    @media screen and (max-width: 640px) {
        width: 640px;
    }
}

img {
    width: 30%;
     @media screen and (max-width: 640px) {
        width: 80%;
    }
}

h1 {
    font-size: 2rem;

}

p, h1, h2 {
    padding: 10px 0;
}

p {
    margin: 10px 0;
    font-size: 1.4rem;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.crest {
    z-index: 1;
    margin-top: 100px;
    height: 100%;
    width: auto;
    @media screen and (max-width: 640px) {
        margin-top:300px;
        width: 100%;
        height: auto;
    }
//    position: absolute;
//    top: 0;
//    left: calc(50% - 300px);
//    background-color: black;
}

.flex {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.return {
    margin-top: 30px;
    z-index: 1;
//    position: absolute;
//    top: 85%;
//    left: calc(50% - 78px);
}
